#content
    - each result in results
        a(href='http://www.metrojobb.se/profiler/#{result.id}/#{result.name}')
            img.logo(src="http://www.metrojobb.se/image/get?id=#{result.logo}", title='#{result.name}')