doctype 5
html(ng-app="app")
	head
		title Blog tool
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="/css/bootstrap-responsive.css", type="text/css")
		link(rel="stylesheet", href="/css/docs.css", type="text/css")
		link(rel="stylesheet", href="/css/style.css", type="text/css")
		
		script(src="/js/conf/require.js")
		script(data-main="main.js", src="/js/lib/require.js")
	body
		div.container
			header(class="jumbotron subhead")
				div.row
					span.span9
						h1 Title
						p.lead Something important and catchy.
				div.subnav
					ul(class="nav nav-pills")
						li.active
							a(href="/#!/blog/") Dev blog
						li
							a(href="/#!/demo/") Demos
						li
							a(href="/#!/links/") Links
			
			section(ng-view)
			
			footer.footer
				span &copy; Mikael Nilsson -- 2012